/*base start*/
/*--------------------*/
.clearfix:before, .clearfix:after {	content: "";display: table}
.clearfix:after {clear: both}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  padding: 0px; margin: 0px;}
html {
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%; 
	font-size: 62.5%; 
	background:url(../images/login/wrapBg.jpg) no-repeat center center;
	min-height:100%;
	background-size:cover;
}
body {
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu; 
	display: block; 
	height: 100%; 
	overflow-x: hidden; 
	margin: 0; 
	font-size: 1.4rem; 
	line-height: 1.5; 
	color: #333333; 
	
}
/*base end*/

.wrap{
	width:600px;
	position:absolute;
	background:url(../images/login/logbg.png) no-repeat;
	height:275px;
	top:50%;
	left:50%;
	margin-top:-138px;
	margin-left:-300px;
	padding:118px 40px 0px 30px;
}
.formDiv{
	padding-left:80px;
	/*-webkit-transform:skewX(-145deg);
	-moz-transform:skewX(-154deg);
	-ms-transform:skewX(-154deg);
	-o-transform:skewX(-154deg);
	transform:skewX(-145deg);*/
	
}
.formDiv .loDiv{
	line-height:16px;
	margin-bottom:10px;
}
.formDiv .loDiv span{
	display:inline-block;
	background:url(../images/login/loginLo.png) no-repeat center center;
	background-size:contain;
	width:45px;
	height:36px;
	float:left;
}
.formDiv .loDiv h3{
	display:inline-block;
	float:left;
	margin:5px 0px 0px 10px;
}
.formDiv .loDiv h3 small{
	font-size:9px;
	font-weight:normal;
}
.formWrap{
	
}
.formWrap .conDiv{
	font-size:1.4rem;
	margin-bottom:10px;

}
.formWrap .conDiv label{
	width:70px;
	text-align:left;
	display:inline-block;
	font-size:16px;
	font-weight:bold;
}
.formWrap .conDiv input{
	z-index:0;
	position:absolute;
	height:30px;
	line-height:30px;
	border-radius:5px;
	border:1px solid #626262;
	background:#f6d06d;
	width:240px;
	behavior: url(/ibs/js/PIE.htc);
}
.formWrap .conDiv input[type="text"]:focus,input[type="password"]:focus{
	outline:none;
	border-color: #68bbbc;
	box-shadow:0px 0px 2px #d0e6e7;
	behavior: url(/ibs/js/PIE.htc);
}
.formWrap .logDiv button{
	z-index:0;
	position:absolute;
	text-align:center;
	color:#fff;
	border:none;
	width:242px;
	height:43px;
	padding:10px 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	font-size:1.4rem;
	font-weight:bold;
	margin-left:73px;
	cursor:pointer;
	background:url(../images/login/loginBtn.png) no-repeat center center;
	behavior: url(/ibs/js/PIE.htc);
}
.formWrap .logDiv button:hover{
	background:url(../images/login/loginBtnH.png) no-repeat center center;
}
.formWrap .logDiv button:focus{
	border:none;
	outline:none
}