<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capinfo.framework.web.mapper.MonitoringDataMapper" >
  <resultMap id="BaseResultMap" type="com.capinfo.framework.web.pojo.MonitoringData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="actual_tsp" property="actualTsp" jdbcType="DECIMAL" />
    <result column="calibration_tsp" property="calibrationTsp" jdbcType="DECIMAL" />
    <result column="actual_two_pm" property="actualTwoPm" jdbcType="DECIMAL" />
    <result column="calibration_two_pm" property="calibrationTwoPm" jdbcType="DECIMAL" />
    <result column="actual_ten_pm" property="actualTenPm" jdbcType="DECIMAL" />
    <result column="calibration_ten_pm" property="calibrationTenPm" jdbcType="DECIMAL" />
    <result column="actual_noise" property="actualNoise" jdbcType="DECIMAL" />
    <result column="calibration_noise" property="calibrationNoise" jdbcType="DECIMAL" />
    <result column="actual_bg_noise" property="actualBgNoise" jdbcType="DECIMAL" />
    <result column="calibration_bg_noise" property="calibrationBgNoise" jdbcType="DECIMAL" />
    <result column="actual_02" property="actual02" jdbcType="DECIMAL" />
    <result column="calibration_02" property="calibration02" jdbcType="DECIMAL" />
    <result column="actual_NO2" property="actualNo2" jdbcType="DECIMAL" />
    <result column="calibration_NO2" property="calibrationNo2" jdbcType="DECIMAL" />
    <result column="actual_03" property="actual03" jdbcType="DECIMAL" />
    <result column="calibration_03" property="calibration03" jdbcType="DECIMAL" />
    <result column="actual_04" property="actual04" jdbcType="DECIMAL" />
    <result column="calibration_04" property="calibration04" jdbcType="DECIMAL" />
    <result column="actual_AQI" property="actualAqi" jdbcType="DECIMAL" />
    <result column="calibration_AQI" property="calibrationAqi" jdbcType="DECIMAL" />
    <result column="actual_max_level" property="actualMaxLevel" jdbcType="INTEGER" />
    <result column="calibration_max_level" property="calibrationMaxLevel" jdbcType="INTEGER" />
    <result column="before_dev_calibration" property="beforeDevCalibration" jdbcType="DECIMAL" />
    <result column="after_dev_calibration" property="afterDevCalibration" jdbcType="DECIMAL" />
    <result column="actual_temperature" property="actualTemperature" jdbcType="DECIMAL" />
    <result column="actual_humidity" property="actualHumidity" jdbcType="DECIMAL" />
    <result column="actual_pressure" property="actualPressure" jdbcType="INTEGER" />
    <result column="actual_rainfall" property="actualRainfall" jdbcType="DECIMAL" />
    <result column="is_rain" property="isRain" jdbcType="BIT" />
    <result column="actual_wind_speed" property="actualWindSpeed" jdbcType="DECIMAL" />
    <result column="actual_wind_direction" property="actualWindDirection" jdbcType="INTEGER" />
    <result column="electric_quantity" property="electricQuantity" jdbcType="INTEGER" />
    <result column="col_time" property="colTime" jdbcType="TIMESTAMP" />
    <result column="long_time" property="longTime" jdbcType="INTEGER" />
    <result column="data_sign" property="dataSign" jdbcType="CHAR" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="updater" property="updater" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="sh_sign" property="shSign" jdbcType="BIT" />
    <association column="device_id" property="monitoringDevice"
                 javaType="com.capinfo.framework.web.pojo.MonitoringDevice"
                 select="com.capinfo.framework.web.mapper.MonitoringDeviceMapper.findMonitoringDeviceById"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, actual_tsp, calibration_tsp, actual_two_pm, calibration_two_pm, actual_ten_pm, 
    calibration_ten_pm, actual_noise, calibration_noise, actual_bg_noise, calibration_bg_noise, 
    actual_02, calibration_02, actual_NO2, calibration_NO2, actual_03, calibration_03, 
    actual_04, calibration_04, actual_AQI, calibration_AQI, actual_max_level, calibration_max_level, 
    before_dev_calibration, after_dev_calibration, actual_temperature, actual_humidity, 
    actual_pressure, actual_rainfall, is_rain, actual_wind_speed, actual_wind_direction, 
    electric_quantity, col_time, long_time, data_sign, creater, updater, create_time, 
    update_time, version, device_id, sh_sign
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ibs_monitoring_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ibs_monitoring_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.capinfo.framework.web.pojo.MonitoringData" >
    insert into ibs_monitoring_data (id, actual_tsp, calibration_tsp, 
      actual_two_pm, calibration_two_pm, actual_ten_pm, 
      calibration_ten_pm, actual_noise, calibration_noise, 
      actual_bg_noise, calibration_bg_noise, actual_02, 
      calibration_02, actual_NO2, calibration_NO2, 
      actual_03, calibration_03, actual_04, 
      calibration_04, actual_AQI, calibration_AQI, 
      actual_max_level, calibration_max_level, before_dev_calibration, 
      after_dev_calibration, actual_temperature, 
      actual_humidity, actual_pressure, actual_rainfall, 
      is_rain, actual_wind_speed, actual_wind_direction, 
      electric_quantity, col_time, long_time, 
      data_sign, creater, updater, 
      create_time, update_time, version, 
      device_id, sh_sign)
    values (#{id,jdbcType=INTEGER}, #{actualTsp,jdbcType=DECIMAL}, #{calibrationTsp,jdbcType=DECIMAL}, 
      #{actualTwoPm,jdbcType=DECIMAL}, #{calibrationTwoPm,jdbcType=DECIMAL}, #{actualTenPm,jdbcType=DECIMAL}, 
      #{calibrationTenPm,jdbcType=DECIMAL}, #{actualNoise,jdbcType=DECIMAL}, #{calibrationNoise,jdbcType=DECIMAL}, 
      #{actualBgNoise,jdbcType=DECIMAL}, #{calibrationBgNoise,jdbcType=DECIMAL}, #{actual02,jdbcType=DECIMAL}, 
      #{calibration02,jdbcType=DECIMAL}, #{actualNo2,jdbcType=DECIMAL}, #{calibrationNo2,jdbcType=DECIMAL}, 
      #{actual03,jdbcType=DECIMAL}, #{calibration03,jdbcType=DECIMAL}, #{actual04,jdbcType=DECIMAL}, 
      #{calibration04,jdbcType=DECIMAL}, #{actualAqi,jdbcType=DECIMAL}, #{calibrationAqi,jdbcType=DECIMAL}, 
      #{actualMaxLevel,jdbcType=INTEGER}, #{calibrationMaxLevel,jdbcType=INTEGER}, #{beforeDevCalibration,jdbcType=DECIMAL}, 
      #{afterDevCalibration,jdbcType=DECIMAL}, #{actualTemperature,jdbcType=DECIMAL}, 
      #{actualHumidity,jdbcType=DECIMAL}, #{actualPressure,jdbcType=INTEGER}, #{actualRainfall,jdbcType=DECIMAL}, 
      #{isRain,jdbcType=BIT}, #{actualWindSpeed,jdbcType=DECIMAL}, #{actualWindDirection,jdbcType=INTEGER}, 
      #{electricQuantity,jdbcType=INTEGER}, #{colTime,jdbcType=TIMESTAMP}, #{longTime,jdbcType=INTEGER}, 
      #{dataSign,jdbcType=CHAR}, #{creater,jdbcType=INTEGER}, #{updater,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{deviceId,jdbcType=INTEGER}, #{shSign,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.capinfo.framework.web.pojo.MonitoringData" >
    insert into ibs_monitoring_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="actualTsp != null" >
        actual_tsp,
      </if>
      <if test="calibrationTsp != null" >
        calibration_tsp,
      </if>
      <if test="actualTwoPm != null" >
        actual_two_pm,
      </if>
      <if test="calibrationTwoPm != null" >
        calibration_two_pm,
      </if>
      <if test="actualTenPm != null" >
        actual_ten_pm,
      </if>
      <if test="calibrationTenPm != null" >
        calibration_ten_pm,
      </if>
      <if test="actualNoise != null" >
        actual_noise,
      </if>
      <if test="calibrationNoise != null" >
        calibration_noise,
      </if>
      <if test="actualBgNoise != null" >
        actual_bg_noise,
      </if>
      <if test="calibrationBgNoise != null" >
        calibration_bg_noise,
      </if>
      <if test="actual02 != null" >
        actual_02,
      </if>
      <if test="calibration02 != null" >
        calibration_02,
      </if>
      <if test="actualNo2 != null" >
        actual_NO2,
      </if>
      <if test="calibrationNo2 != null" >
        calibration_NO2,
      </if>
      <if test="actual03 != null" >
        actual_03,
      </if>
      <if test="calibration03 != null" >
        calibration_03,
      </if>
      <if test="actual04 != null" >
        actual_04,
      </if>
      <if test="calibration04 != null" >
        calibration_04,
      </if>
      <if test="actualAqi != null" >
        actual_AQI,
      </if>
      <if test="calibrationAqi != null" >
        calibration_AQI,
      </if>
      <if test="actualMaxLevel != null" >
        actual_max_level,
      </if>
      <if test="calibrationMaxLevel != null" >
        calibration_max_level,
      </if>
      <if test="beforeDevCalibration != null" >
        before_dev_calibration,
      </if>
      <if test="afterDevCalibration != null" >
        after_dev_calibration,
      </if>
      <if test="actualTemperature != null" >
        actual_temperature,
      </if>
      <if test="actualHumidity != null" >
        actual_humidity,
      </if>
      <if test="actualPressure != null" >
        actual_pressure,
      </if>
      <if test="actualRainfall != null" >
        actual_rainfall,
      </if>
      <if test="isRain != null" >
        is_rain,
      </if>
      <if test="actualWindSpeed != null" >
        actual_wind_speed,
      </if>
      <if test="actualWindDirection != null" >
        actual_wind_direction,
      </if>
      <if test="electricQuantity != null" >
        electric_quantity,
      </if>
      <if test="colTime != null" >
        col_time,
      </if>
      <if test="longTime != null" >
        long_time,
      </if>
      <if test="dataSign != null" >
        data_sign,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="shSign != null" >
        sh_sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="actualTsp != null" >
        #{actualTsp,jdbcType=DECIMAL},
      </if>
      <if test="calibrationTsp != null" >
        #{calibrationTsp,jdbcType=DECIMAL},
      </if>
      <if test="actualTwoPm != null" >
        #{actualTwoPm,jdbcType=DECIMAL},
      </if>
      <if test="calibrationTwoPm != null" >
        #{calibrationTwoPm,jdbcType=DECIMAL},
      </if>
      <if test="actualTenPm != null" >
        #{actualTenPm,jdbcType=DECIMAL},
      </if>
      <if test="calibrationTenPm != null" >
        #{calibrationTenPm,jdbcType=DECIMAL},
      </if>
      <if test="actualNoise != null" >
        #{actualNoise,jdbcType=DECIMAL},
      </if>
      <if test="calibrationNoise != null" >
        #{calibrationNoise,jdbcType=DECIMAL},
      </if>
      <if test="actualBgNoise != null" >
        #{actualBgNoise,jdbcType=DECIMAL},
      </if>
      <if test="calibrationBgNoise != null" >
        #{calibrationBgNoise,jdbcType=DECIMAL},
      </if>
      <if test="actual02 != null" >
        #{actual02,jdbcType=DECIMAL},
      </if>
      <if test="calibration02 != null" >
        #{calibration02,jdbcType=DECIMAL},
      </if>
      <if test="actualNo2 != null" >
        #{actualNo2,jdbcType=DECIMAL},
      </if>
      <if test="calibrationNo2 != null" >
        #{calibrationNo2,jdbcType=DECIMAL},
      </if>
      <if test="actual03 != null" >
        #{actual03,jdbcType=DECIMAL},
      </if>
      <if test="calibration03 != null" >
        #{calibration03,jdbcType=DECIMAL},
      </if>
      <if test="actual04 != null" >
        #{actual04,jdbcType=DECIMAL},
      </if>
      <if test="calibration04 != null" >
        #{calibration04,jdbcType=DECIMAL},
      </if>
      <if test="actualAqi != null" >
        #{actualAqi,jdbcType=DECIMAL},
      </if>
      <if test="calibrationAqi != null" >
        #{calibrationAqi,jdbcType=DECIMAL},
      </if>
      <if test="actualMaxLevel != null" >
        #{actualMaxLevel,jdbcType=INTEGER},
      </if>
      <if test="calibrationMaxLevel != null" >
        #{calibrationMaxLevel,jdbcType=INTEGER},
      </if>
      <if test="beforeDevCalibration != null" >
        #{beforeDevCalibration,jdbcType=DECIMAL},
      </if>
      <if test="afterDevCalibration != null" >
        #{afterDevCalibration,jdbcType=DECIMAL},
      </if>
      <if test="actualTemperature != null" >
        #{actualTemperature,jdbcType=DECIMAL},
      </if>
      <if test="actualHumidity != null" >
        #{actualHumidity,jdbcType=DECIMAL},
      </if>
      <if test="actualPressure != null" >
        #{actualPressure,jdbcType=INTEGER},
      </if>
      <if test="actualRainfall != null" >
        #{actualRainfall,jdbcType=DECIMAL},
      </if>
      <if test="isRain != null" >
        #{isRain,jdbcType=BIT},
      </if>
      <if test="actualWindSpeed != null" >
        #{actualWindSpeed,jdbcType=DECIMAL},
      </if>
      <if test="actualWindDirection != null" >
        #{actualWindDirection,jdbcType=INTEGER},
      </if>
      <if test="electricQuantity != null" >
        #{electricQuantity,jdbcType=INTEGER},
      </if>
      <if test="colTime != null" >
        #{colTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longTime != null" >
        #{longTime,jdbcType=INTEGER},
      </if>
      <if test="dataSign != null" >
        #{dataSign,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="shSign != null" >
        #{shSign,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.capinfo.framework.web.pojo.MonitoringData" >
    update ibs_monitoring_data
    <set >
      <if test="actualTsp != null" >
        actual_tsp = #{actualTsp,jdbcType=DECIMAL},
      </if>
      <if test="calibrationTsp != null" >
        calibration_tsp = #{calibrationTsp,jdbcType=DECIMAL},
      </if>
      <if test="actualTwoPm != null" >
        actual_two_pm = #{actualTwoPm,jdbcType=DECIMAL},
      </if>
      <if test="calibrationTwoPm != null" >
        calibration_two_pm = #{calibrationTwoPm,jdbcType=DECIMAL},
      </if>
      <if test="actualTenPm != null" >
        actual_ten_pm = #{actualTenPm,jdbcType=DECIMAL},
      </if>
      <if test="calibrationTenPm != null" >
        calibration_ten_pm = #{calibrationTenPm,jdbcType=DECIMAL},
      </if>
      <if test="actualNoise != null" >
        actual_noise = #{actualNoise,jdbcType=DECIMAL},
      </if>
      <if test="calibrationNoise != null" >
        calibration_noise = #{calibrationNoise,jdbcType=DECIMAL},
      </if>
      <if test="actualBgNoise != null" >
        actual_bg_noise = #{actualBgNoise,jdbcType=DECIMAL},
      </if>
      <if test="calibrationBgNoise != null" >
        calibration_bg_noise = #{calibrationBgNoise,jdbcType=DECIMAL},
      </if>
      <if test="actual02 != null" >
        actual_02 = #{actual02,jdbcType=DECIMAL},
      </if>
      <if test="calibration02 != null" >
        calibration_02 = #{calibration02,jdbcType=DECIMAL},
      </if>
      <if test="actualNo2 != null" >
        actual_NO2 = #{actualNo2,jdbcType=DECIMAL},
      </if>
      <if test="calibrationNo2 != null" >
        calibration_NO2 = #{calibrationNo2,jdbcType=DECIMAL},
      </if>
      <if test="actual03 != null" >
        actual_03 = #{actual03,jdbcType=DECIMAL},
      </if>
      <if test="calibration03 != null" >
        calibration_03 = #{calibration03,jdbcType=DECIMAL},
      </if>
      <if test="actual04 != null" >
        actual_04 = #{actual04,jdbcType=DECIMAL},
      </if>
      <if test="calibration04 != null" >
        calibration_04 = #{calibration04,jdbcType=DECIMAL},
      </if>
      <if test="actualAqi != null" >
        actual_AQI = #{actualAqi,jdbcType=DECIMAL},
      </if>
      <if test="calibrationAqi != null" >
        calibration_AQI = #{calibrationAqi,jdbcType=DECIMAL},
      </if>
      <if test="actualMaxLevel != null" >
        actual_max_level = #{actualMaxLevel,jdbcType=INTEGER},
      </if>
      <if test="calibrationMaxLevel != null" >
        calibration_max_level = #{calibrationMaxLevel,jdbcType=INTEGER},
      </if>
      <if test="beforeDevCalibration != null" >
        before_dev_calibration = #{beforeDevCalibration,jdbcType=DECIMAL},
      </if>
      <if test="afterDevCalibration != null" >
        after_dev_calibration = #{afterDevCalibration,jdbcType=DECIMAL},
      </if>
      <if test="actualTemperature != null" >
        actual_temperature = #{actualTemperature,jdbcType=DECIMAL},
      </if>
      <if test="actualHumidity != null" >
        actual_humidity = #{actualHumidity,jdbcType=DECIMAL},
      </if>
      <if test="actualPressure != null" >
        actual_pressure = #{actualPressure,jdbcType=INTEGER},
      </if>
      <if test="actualRainfall != null" >
        actual_rainfall = #{actualRainfall,jdbcType=DECIMAL},
      </if>
      <if test="isRain != null" >
        is_rain = #{isRain,jdbcType=BIT},
      </if>
      <if test="actualWindSpeed != null" >
        actual_wind_speed = #{actualWindSpeed,jdbcType=DECIMAL},
      </if>
      <if test="actualWindDirection != null" >
        actual_wind_direction = #{actualWindDirection,jdbcType=INTEGER},
      </if>
      <if test="electricQuantity != null" >
        electric_quantity = #{electricQuantity,jdbcType=INTEGER},
      </if>
      <if test="colTime != null" >
        col_time = #{colTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longTime != null" >
        long_time = #{longTime,jdbcType=INTEGER},
      </if>
      <if test="dataSign != null" >
        data_sign = #{dataSign,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="shSign != null" >
        sh_sign = #{shSign,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.capinfo.framework.web.pojo.MonitoringData" >
    update ibs_monitoring_data
    set actual_tsp = #{actualTsp,jdbcType=DECIMAL},
      calibration_tsp = #{calibrationTsp,jdbcType=DECIMAL},
      actual_two_pm = #{actualTwoPm,jdbcType=DECIMAL},
      calibration_two_pm = #{calibrationTwoPm,jdbcType=DECIMAL},
      actual_ten_pm = #{actualTenPm,jdbcType=DECIMAL},
      calibration_ten_pm = #{calibrationTenPm,jdbcType=DECIMAL},
      actual_noise = #{actualNoise,jdbcType=DECIMAL},
      calibration_noise = #{calibrationNoise,jdbcType=DECIMAL},
      actual_bg_noise = #{actualBgNoise,jdbcType=DECIMAL},
      calibration_bg_noise = #{calibrationBgNoise,jdbcType=DECIMAL},
      actual_02 = #{actual02,jdbcType=DECIMAL},
      calibration_02 = #{calibration02,jdbcType=DECIMAL},
      actual_NO2 = #{actualNo2,jdbcType=DECIMAL},
      calibration_NO2 = #{calibrationNo2,jdbcType=DECIMAL},
      actual_03 = #{actual03,jdbcType=DECIMAL},
      calibration_03 = #{calibration03,jdbcType=DECIMAL},
      actual_04 = #{actual04,jdbcType=DECIMAL},
      calibration_04 = #{calibration04,jdbcType=DECIMAL},
      actual_AQI = #{actualAqi,jdbcType=DECIMAL},
      calibration_AQI = #{calibrationAqi,jdbcType=DECIMAL},
      actual_max_level = #{actualMaxLevel,jdbcType=INTEGER},
      calibration_max_level = #{calibrationMaxLevel,jdbcType=INTEGER},
      before_dev_calibration = #{beforeDevCalibration,jdbcType=DECIMAL},
      after_dev_calibration = #{afterDevCalibration,jdbcType=DECIMAL},
      actual_temperature = #{actualTemperature,jdbcType=DECIMAL},
      actual_humidity = #{actualHumidity,jdbcType=DECIMAL},
      actual_pressure = #{actualPressure,jdbcType=INTEGER},
      actual_rainfall = #{actualRainfall,jdbcType=DECIMAL},
      is_rain = #{isRain,jdbcType=BIT},
      actual_wind_speed = #{actualWindSpeed,jdbcType=DECIMAL},
      actual_wind_direction = #{actualWindDirection,jdbcType=INTEGER},
      electric_quantity = #{electricQuantity,jdbcType=INTEGER},
      col_time = #{colTime,jdbcType=TIMESTAMP},
      long_time = #{longTime,jdbcType=INTEGER},
      data_sign = #{dataSign,jdbcType=CHAR},
      creater = #{creater,jdbcType=INTEGER},
      updater = #{updater,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=INTEGER},
      sh_sign = #{shSign,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findMonitoringDataList" resultMap="BaseResultMap">
    SELECT * FROM ibs_monitoring_data
    ORDER BY create_time
  </select>
</mapper>