<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capinfo.framework.web.mapper.MonitoringDeviceMapper" >

	<resultMap id="MonitoringDataCopy" type="com.capinfo.framework.web.pojo.MonitoringData">
		<id column="id" property="id"/>
		<result column="actual_tsp" property="actualTsp"/>
		<result column="calibration_tsp" property="calibrationTsp" />
		<result column="actual_two_pm" property="actualTwoPm" />
		<result column="calibration_two_pm" property="calibrationTwoPm"/>
		<result column="actual_ten_pm" property="actualTenPm"  />
		<result column="calibration_ten_pm" property="calibrationTenPm" />
		<result column="col_time" property="colTime" />
		<result column="actual_noise" property="actualNoise" />
		<result column="calibration_noise" property="calibrationNoise" />
		<result column="actual_02" property="actual02" />
		<result column="calibration_02" property="calibration02" />
		<result column="actual_NO2" property="actualNO2" />
		<result column="calibration_NO2" property="calibrationNo2" />
		<result column="actual_03" property="actual03" />
		<result column="calibration_03" property="calibration03" />
		<result column="actual_04" property="actual04" />
		<result column="calibration_04" property="calibration04" />

		<result column="actual_wind_speed" property="actualWindSpeed" />
		<result column="actual_wind_direction" property="actualWindDirection" />
		<result column="actual_temperature" property="actualTemperature" />
		<result column="actual_rainfall" property="actualRainfall" />
		<result column="actual_pressure" property="actualPressure" />
		<result column="electric_quantity" property="electricQuantity" />

	</resultMap>
	<resultMap id="MonitoringHourData" type="com.capinfo.framework.web.pojo.MonitoringHourData">
		<id column="id" property="id"/>
		<id column="project_id" property="projectId"/>
		<result column="actual_tsp" property="actualTsp"/>
		<result column="actual_two_pm" property="actualTwoPm" />
		<result column="actual_ten_pm" property="actualTenPm" />
		<result column="actual_noise" property="actualNoise"/>
		<result column="actual_02" property="actual02"  />
		<result column="actual_NO2" property="actualNO2" />
		<result column="actual_03" property="actual03" />
		<result column="actual_04" property="actual04" />
		<result column="actual_AQI" property="actualAQI" />
		<result column="actual_IAQI_PM10" property="actualIAQIPM10" />
		<result column="actual_IAQI_PM25" property="actualIAQIPM25" />
		<result column="actual_IAQI_02" property="actualIAQI02" />
		<result column="actual_IAQI_03" property="actualIAQI03" />
		<result column="actual_IAQI_04" property="actualIAQI04" />
		<result column="actual_IAQL_NO2" property="actualIAQINO2" />
		<result column="col_time" property="colTime" />
		<result column="actual_temperature" property="actualTemperature" />
	</resultMap>
	<resultMap id="MonitoringDayData" type="com.capinfo.framework.web.pojo.MonitoringDayData">
		<id column="id" property="id"/>
		<id column="project_id" property="projectId"/>
		<result column="actual_tsp" property="actualTsp"/>
		<result column="actual_two_pm" property="actualTwoPm" />
		<result column="actual_ten_pm" property="actualTenPm" />
		<result column="actual_noise" property="actualNoise"/>
		<result column="actual_02" property="actual02"  />
		<result column="actual_NO2" property="actualNO2" />
		<result column="actual_03" property="actual03" />
		<result column="actual_04" property="actual04" />
		<result column="actual_AQI" property="actualAQI" />
		<result column="actual_temperature" property="actualTemperature" />
		<result column="col_time" property="colTime" />
	</resultMap>

	<resultMap id="MonitoringDeviceResult" type="com.capinfo.framework.web.pojo.MonitoringDevice">
		<id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="dev_code" property="devCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="pro_code" property="proCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="vendor_code" property="vendorCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="dev_name" property="devName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="dev_type" property="devType" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="longitude" property="longitude" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="latitude" property="latitude" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="ip_addr" property="ipAddr" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="mac_addr" property="macAddr" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="dev_port" property="devPort" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="dev_version" property="devVersion" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="dev_status" property="devStatus" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="video_url" property="videoUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="paramstr" property="paramstr" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="serial" property="serial" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="start_time" property="startTime" javaType="java.util.Date"/>
		<result column="end_time" property="endTime" javaType="java.util.Date"/>
		<result column="install_time" property="installTime" javaType="java.util.Date"/>
		<result column="creater" property="creater" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="updater" property="updater" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="create_time" property="createTime" javaType="java.util.Date"/>
		<result column="update_time" property="updateTime" javaType="java.util.Date"/>
		<result column="version" property="version" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="platform_id" property="platformId" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="platform_mn" property="platformMN" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="camera_id" property="cameraId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="video_user" property="videoUser" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="password" property="password" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="camera_index_code" property="cameraIndexCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="longitude" property="longitude" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="latitude" property="latitude" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="phone_card" property="phoneCard" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="forward_type" property="forwardType" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="forward_frequency" property="forwardFrequency" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="pro_name" property="projectName" jdbcType="VARCHAR" javaType="java.lang.String"/>

		<association column="company_id" property="monitoringCompany" javaType="com.capinfo.framework.web.pojo.MonitoringCompany" select="com.capinfo.framework.web.mapper.MonitoringCompanyMapper.findMonitoringCompanyById"/>
		<association column="project_id" property="monitoringProject" javaType="com.capinfo.framework.web.pojo.MonitoringProject" select="com.capinfo.framework.web.mapper.MonitoringDeviceMapper.findMonitoringProjectById"/>
		<association column="id" property="maintainCount" javaType="java.lang.Integer" select="com.capinfo.framework.web.mapper.MonitoringMaintainMapper.findMaintainCount"/>
		<collection column="id" property="belongGroups" javaType="java.util.ArrayList"
					select="com.capinfo.framework.web.mapper.MonitoringDeviceGroupMapper.findMonitoringDeviceGroupByDeviceId"/>
		<!--<association column="device_group_id" property="monitoringDeviceGroup" javaType="com.capinfo.framework.web.pojo.MonitoringDeviceGroup" select="com.capinfo.framework.web.mapper.MonitoringDeviceGroupMapper.findMonitoringDeviceGroupById"/>-->
		<!--<collection property="monitoringDatas" column="id" javaType="java.util.ArrayList" select="com.capinfo.framework.web.mapper.MonitoringDataMapper.findMonitoringDataByDeviceId" />-->
	</resultMap>
	<resultMap id="MonitoringProjectResult" type="com.capinfo.framework.web.pojo.MonitoringProject">
		<id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="pro_code" property="proCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="pro_name" property="proName" jdbcType="VARCHAR" javaType="java.lang.String"/>
	</resultMap>

    <resultMap id="DeviceRecentDataResult" type="com.capinfo.framework.web.pojo.DeviceRecentData">
        <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="dev_code" property="devCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="dev_name" property="devName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="dev_status" property="devStatus" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="data_id" property="dataId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
    	<result column="electric_quantity" property="electricQuantity" jdbcType="INTEGER" javaType="java.lang.Integer"/>
	</resultMap>

    <!-- SAVE Monitoring Device -->
	<insert id="saveMonitoringDevice" useGeneratedKeys="true" keyProperty="id" parameterType="com.capinfo.framework.web.vo.MonitoringDeviceQueryBean">
        INSERT INTO
        ibs_monitoring_device(dev_code,pro_code,vendor_code,dev_name,dev_type,longitude,latitude,ip_addr,mac_addr,dev_port,dev_version,dev_status,video_url,company_id,platform_id,platform_mn,creater,create_time,camera_id,video_user,password,camera_index_code,phone_card,forward_type,forward_frequency)
        VALUES(#{devCode},#{devCode},#{vendorCode},#{devName},#{devType},#{longitude},#{latitude},#{ipAddr},#{macAddr},#{devPort},#{devVersion},#{devStatus},#{videoUrl},#{monitoringCompany.id},#{companyIds},#{platformMN},#{creater},#{createTime},#{cameraId},#{videoUser},#{password},#{cameraIndexCode},#{phoneCard},#{forwardType},#{forwardFrequency})
	</insert>
	<!-- DELETE Monitoring Device -->
	<delete id="deleteMonitoringDevice" parameterType="java.lang.Integer">
		DELETE FROM ibs_monitoring_device WHERE id=#{id}
	</delete>
	<!-- UPDATE Monitoring Device -->
	<update id="updateMonitoringDevice" parameterType="com.capinfo.framework.web.vo.MonitoringDeviceQueryBean">
        UPDATE ibs_monitoring_device
        <set>
			<if test="devCode != null">dev_code=#{devCode},</if>
			<if test="devName != null">dev_name=#{devName},</if>
			<if test="devType != null">dev_type=#{devType},</if>
			<if test="longitude != null">longitude=#{longitude},</if>
			<if test="latitude != null">latitude=#{latitude},</if>
			<if test="ipAddr != null">ip_addr=#{ipAddr},</if>
			<if test="macAddr != null">mac_addr=#{macAddr},</if>
			<if test="devPort != null">dev_port=#{devPort},</if>
			<if test="devVersion != null">dev_version=#{devVersion},</if>
			<if test="devStatus != null">dev_status=#{devStatus},</if>
			<if test="videoUrl != null">video_url=#{videoUrl},</if>
			<if test="monitoringCompany != null">company_id=#{monitoringCompany.id},</if>
			<if test="companyIds != null">platform_id=#{companyIds},</if>
			<if test="platformMN != null">platform_mn=#{platformMN},</if>
			<if test="updateTime != null">update_time=#{updateTime},</if>
			<if test="updater != null">updater=#{updater},</if>
			<if test="cameraId != null">camera_id=#{cameraId},</if>
			<if test="phoneCard != null">phone_card=#{phoneCard},</if>
			<if test="forwardType != null">forward_type=#{forwardType},</if>
			<if test="forwardFrequency != null">forward_frequency=#{forwardFrequency},</if>
			<if test="videoUser != null">video_user=#{videoUser},</if>
			<if test="password != null">password=#{password},</if>
			<if test="cameraIndexCode != null">camera_index_code=#{cameraIndexCode},</if>
			version=version+1,
		</set>
        WHERE id=#{id}
	</update>
	<!-- BATCH SAVE Monitoring Device -->
	<insert id="saveMonitoringDeviceBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO ibs_monitoring_device(dev_code,pro_code,vendor_code,dev_name,dev_type,longitude,latitude,ip_addr,mac_addr,dev_port,dev_version,dev_status,video_url,paramstr,serial,start_time,end_time,install_time,project_id,company_id,platform_id,platform_mn,device_group_id,creater,create_time)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.devCode},#{item.proCode},#{item.vendorCode},#{item.devName},#{item.devType},#{item.longitude},#{item.latitude},#{item.ipAddr},#{item.macAddr},#{item.devPort},#{item.devVersion},#{item.devStatus},#{item.videoUrl},#{item.paramstr},#{item.serial},#{item.startTime},#{item.endTime},#{item.installTime},#{item.monitoringProject.id},#{item.monitoringCompany.id},#{item.platformId},#{item.platformMN},#{monitoringDeviceGroup.id},#{item.creater},#{item.createTime})
		</foreach>
	</insert>
	<!-- BATCH DELETE Monitoring Device -->
	<delete id="deleteMonitoringDeviceBatch" parameterType="java.util.List">
		DELETE FROM ibs_monitoring_device WHERE id IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!--查询传感器列表-->
	<select id="findMonitoringDeviceList" resultMap="MonitoringDeviceResult">
        SELECT * FROM ibs_monitoring_device
		order BY create_time DESC
	</select>

	<!--根据近10min数据查询设备-->
    <select id="findMonitoringDeviceRecentDataList" resultMap="DeviceRecentDataResult">
        SELECT device.id,device.dev_code,device.dev_name,device.dev_status,
        (select data_copy.id from ibs_monitoring_data_copy data_copy where data_copy.device_id = device.id and
        data_copy.col_time>(NOW() - INTERVAL 10 MINUTE ) limit 1) data_id
		FROM ibs_monitoring_device device
		order BY device.create_time DESC
    </select>
	
	<!--查询最近数据中的电源类型-->
	<select id="findDevicePowerType" resultMap="DeviceRecentDataResult">
		SELECT device.id,device.dev_code,device.dev_name,device.dev_status,
        (select data_copy.electric_quantity from ibs_monitoring_data_copy data_copy where data_copy.device_id = device.id and
        data_copy.col_time>(NOW() - INTERVAL 10 MINUTE ) limit 1) electric_quantity
		FROM ibs_monitoring_device device
		order BY device.create_time DESC
	</select>
	

    <select id="findMonitoringDeviceShList" parameterType="com.capinfo.framework.web.vo.MonitoringDeviceQueryBean" resultMap="MonitoringDeviceResult">
    	SELECT d.id id,d.dev_code devCode,d.pro_code proCode,d.vendor_code vendorCode FROM ibs_monitoring_project p,ibs_monitoring_device d
    	<where>
    		p.id=d.project_id AND p.city="上海" 
    	</where>
	</select>
	
	<!-- 查询传感器分页列表 -->
	<sql id="query_device_page_where">
		<if test="query.userType != 1" >
			AND gdr.group_id IN (SELECT group_id FROM ibs_user_group_rele WHERE user_id=#{query.userId})
		</if>
		<if test="query.devCodeForLike!=null and query.devCodeForLike!=''">
			AND dev_code LIKE "%"#{query.devCodeForLike}"%" 
		</if>
		<if test="query.devStatus!=null and query.devStatus!=''">
			AND dev_status=#{query.devStatus}
		</if>
		<if test="query.devNameForLike!=null and query.devNameForLike!=''">
			AND dev_name LIKE "%"#{query.devNameForLike}"%"
		</if>
		<if test="query.devGroupNameForLike!=null and query.devGroupNameForLike!=''">
			AND group_dev_name LIKE "%"#{query.devGroupNameForLike}"%"
		</if>
		<if test="query.devProNameForLike!=null and query.devProNameForLike!=''">
			AND pro_name LIKE "%"#{query.devProNameForLike}"%"
		</if>

	</sql>
	<select id="findMonitoringDevicePage" parameterType="java.util.Map" resultMap="MonitoringDeviceResult">
		SELECT md.id AS id,dev_code,md.pro_code,vendor_code,dev_name,dev_type,md.longitude,md.latitude,ip_addr,mac_addr,dev_port,dev_version,dev_status,video_url,paramstr,serial,start_time,end_time,install_time,md.creater,md.updater,md.create_time AS create_time,md.update_time,md.version,project_id,md.platform_id,platform_mn,camera_id,video_user,password,camera_index_code,phone_card,forward_type,forward_frequency,md.company_id,md.id AS devId,mp.pro_name
		FROM ((ibs_group_device_rele gdr LEFT JOIN ibs_group_device gd ON gdr.group_id = gd.id)
		RIGHT JOIN ibs_monitoring_device md ON md.id = gdr.device_id) LEFT JOIN ibs_monitoring_project mp ON md.project_id = mp.id
		<where>
			<include refid="query_device_page_where"></include>
		</where>
		GROUP BY md.id
		ORDER BY md.create_time desc
		LIMIT #{pageNum},#{pageSize}
	</select>
<!--统计数据-实时数据-->
	<select id="findStatisticalDataPage" parameterType="java.util.Map" resultMap="MonitoringDataCopy">
	SELECT *
	FROM ibs_monitoring_data_copy
	WHERE 1=1
	<if test="query.deviceId != null and query.deviceId != ''">
		AND device_id = #{query.deviceId}
	</if>
	ORDER BY create_time desc
	LIMIT #{pageNum},#{pageSize}
</select>
<!--统计数据-小时数据-->
	<select id="findMonitoringHourDatePage" parameterType="java.util.Map" resultMap="MonitoringHourData">
	SELECT * FROM ibs_data_hour
	WHERE project_id IN
			(
			select project_id from ibs_monitoring_device
			where id=#{query.deviceId}
			)
	LIMIT #{pageNum},#{pageSize}
</select>
<!--统计数据-天数据-->
	<select id="findMonitoringDayDatePage" parameterType="java.util.Map" resultMap="MonitoringDayData">
	/*SELECT *
	FROM ibs_data_hour*/
	SELECT * FROM ibs_data_day
			WHERE project_id IN
			(
			select project_id from ibs_monitoring_device
			where id=#{query.deviceId}
			)
	LIMIT #{pageNum},#{pageSize}
</select>

	<!-- 查询传感器总数 -->
	<sql id="query_device_count_where">
		<if test="userType != 1" >
			AND gdr.group_id IN (SELECT group_id FROM ibs_user_group_rele WHERE user_id=#{userId})
		</if>

		<if test="devCodeForLike!=null and devCodeForLike!=''">
			AND dev_code LIKE "%"#{devCodeForLike}"%"
		</if>
		<if test="devStatus!=null and devStatus!=''">
			AND dev_status=#{devStatus}
		</if>
		<if test="devNameForLike!=null and devNameForLike!=''">
			AND dev_name LIKE "%"#{devNameForLike}"%"
		</if>
		<if test="devGroupNameForLike!=null and devGroupNameForLike!=''">
			AND group_dev_name LIKE "%"#{devGroupNameForLike}"%"
		</if>
		<if test="devProNameForLike!=null and devProNameForLike!=''">
			AND pro_name LIKE "%"#{devProNameForLike}"%"
		</if>

	</sql>
	<select id="findMonitoringDeviceCount" parameterType="com.capinfo.framework.web.vo.MonitoringDeviceQueryBean" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM (
		(SELECT md.id
			FROM ((ibs_group_device_rele gdr LEFT JOIN ibs_group_device gd ON gdr.group_id = gd.id)
			RIGHT JOIN ibs_monitoring_device md ON md.id = gdr.device_id) LEFT JOIN ibs_monitoring_project mp ON md.project_id = mp.id
			<where>
				<include refid="query_device_count_where"></include>
			</where>
			GROUP BY md.id)AS tempTable
		)
	</select>
	<sql id="query_data_count_where">
		<if test="deviceId !=null">
			AND device_id = #{deviceId}
		</if>
	</sql>
<!--实时数据 -->
	<select id="findMonitoringDataCount" parameterType="com.capinfo.framework.web.vo.MonitoringDataQueryBean" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM ibs_monitoring_data_copy
		<where>
			<include refid="query_data_count_where"></include>
		</where>

	</select>
<!--小时数据 -->
	<select id="findMonitoringHourCount" parameterType="com.capinfo.framework.web.vo.MonitoringDataQueryBean" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM ibs_data_hour
		WHERE project_id IN
		(
		select project_id from ibs_monitoring_device
		where id=#{deviceId}
		)

	</select>
	<!--天数据-->
	<select id="findMonitoringDayCount" parameterType="com.capinfo.framework.web.vo.MonitoringDataQueryBean" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ibs_data_day
		WHERE project_id IN
		(
		select project_id from ibs_monitoring_device
		where id=#{deviceId}
		)

	</select>

	<!-- 根据设备编号查询实时数据-->
<!--	<select id="findStatisticalData" parameterType="java.lang.Integer" resultMap="MonitoringDataCopy">
		SELECT * FROM  ibs_monitoring_data_copy
		where
			id =#{value}
	</select>-->
	<!-- 根据设备编号查询小时数据-->
	<select id="findHourData" parameterType="java.lang.Integer" resultMap="MonitoringHourData">
		SELECT * FROM ibs_data_hour
			WHERE project_id IN
			(
			select project_id from ibs_monitoring_device
			where id=#{value}
			)
	</select>
	<!-- 根据设备编号查询天数据-->
	<select id="findDayData" parameterType="java.lang.Integer" resultMap="MonitoringDayData">
		SELECT * FROM  ibs_data_day
		where
			id =#{value}
	</select>

<!-- select * from ibs_monitoring_data_copy
where id IN (select id from ibs_monitoring_device where dev_code='20170817000001')-->
	
	<!-- 根据id查询传感器 -->
	<!--2017/1/9 新思 彭佳佳 开始-->
	<select id="findMonitoringDeviceById" parameterType="java.lang.Integer" resultMap="MonitoringDeviceResult">
		SELECT * FROM ibs_monitoring_device
		<where>
			id=#{value}
		</where>
	</select>


	<!--<select id="findMonitoringDeviceById" parameterType="java.lang.Integer" resultMap="MonitoringDeviceResult">
		SELECT
		dev_code,d.pro_code,vendor_code,dev_name,dev_type,d.longitude,d.latitude,ip_addr,mac_addr,dev_port,
		dev_version,dev_status,video_url,paramstr,serial,start_time,end_time,install_time, p.id as
		project_id,d.company_id,d.platform_id,platform_mn,device_group_id,d.creater,d.create_time
		FROM ibs_monitoring_device d
		left join ibs_monitoring_device_group g on g.id = d.device_group_id
		left join ibs_monitoring_project p on p.id = g.project_id
    	<where>
			d.id=#{value}
    	</where>
	</select>-->
	<!--2017/1/9 新思 彭佳佳 结束-->
	
	<!-- 根据条件查询传感器 -->
	<sql id="query_device_unique_where">
		<if test="devCode!=null and devCode!=''">
			AND dev_code=#{devCode} 
		</if>
		<if test="vendorCode!=null and vendorCode!=''">
			AND vendor_code=#{vendorCode} 
		</if>
		<if test="devName!=null and devName!=''">
			AND dev_name=#{devName} 
		</if>
		<if test="devType!=null">
			AND dev_type=#{devType} 
		</if>
	</sql>
	<select id="findMonitoringDeviceUnique" parameterType="com.capinfo.framework.web.vo.MonitoringDeviceQueryBean" resultMap="MonitoringDeviceResult">
    	SELECT * FROM ibs_monitoring_device
    	<where>
    		<include refid="query_device_unique_where"></include>
    	</where>
    	LIMIT 1
	</select>
	
	<!-- 根据工地id查询设备数据 -->
	<select id="findMonitoringDeviceByProjectId" parameterType="java.lang.Integer" resultMap="MonitoringDeviceResult">
    	SELECT * FROM ibs_monitoring_device
    	<where>
    		project_id=#{value}
    	</where>
	</select>
	
	<!-- 根据厂商id查询设备数据 -->
	<select id="findMonitoringDeviceByCompanyId" parameterType="java.lang.Integer" resultMap="MonitoringDeviceResult">
    	SELECT * FROM ibs_monitoring_device
    	<where>
    		company_id=#{value}
    	</where>
	</select>
	
	<!-- 根据设备杆id查询设备数据 -->
	<select id="findMonitoringDeviceByDeviceGroupId" parameterType="java.lang.Integer" resultMap="MonitoringDeviceResult">
    	SELECT * FROM ibs_monitoring_device
    	<where>
    		device_group_id=#{value}
    	</where>
	</select>

	<!-- 下載设备杆数据 -->
	<sql id="all_download_fileds">id,dev_code,pro_code,vendor_code,dev_name,longitude,latitude,ip_addr,mac_addr,dev_port,dev_version,dev_status,video_url,start_time,end_time,install_time,create_time,update_time,creater,updater,version,project_id,company_id,device_group_id,dev_type,paramstr,serial</sql>
	<select id="downloadMonitoringDeviceList" resultType="java.util.Map">
		SELECT <include refid="all_download_fileds"></include> FROM ibs_monitoring_device
		<where>
			id IN
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>

	<!--<insert id="insertMonitoringDeviceList"  parameterType="java.util.List"
			flushCache="true">
		INSERT INTO ibs_monitoring_device(<include refid="all_download_fileds"/>)
		VALUES
		<foreach collection="list" item="item" open="(" separator="),(" close=")">
			#{item.id},
			#{item.dev_code},
			#{item.pro_code},
			#{item.vendor_code},
			#{item.dev_name},
			#{item.longitude},
			#{item.latitude},
			#{item.ip_addr},
			#{item.mac_addr},
			#{item.dev_port},
			#{item.dev_version},
			#{item.dev_status},
			#{item.video_url},
			#{item.start_time},
			#{item.end_time},
			#{item.install_time},
			#{item.create_time},
			#{item.update_time},
			#{item.creater},
			#{item.updater},
			#{item.version},
			#{item.project_id},
			#{item.company_id},
			#{item.device_group_id},
			#{item.dev_type},
			#{item.paramstr},
			#{item.serial}
		</foreach>
	</insert>
	-->
	<!--根据ID查询站点信息-->
	<select id="findMonitoringProjectById" parameterType="java.lang.Integer" resultMap="MonitoringProjectResult">
		SELECT id,pro_code,pro_name FROM ibs_monitoring_project
		<where>
			id=#{value}
		</where>
	</select>

	<!--根据设备组id查询该设备组的所有设备信息-->
	<select id="findMonitoringDeviceListByGID" parameterType="GroupDevice" resultMap="MonitoringDeviceResult" >
		SELECT * FROM ibs_monitoring_device
			WHERE id IN (SELECT device_id FROM ibs_group_device_rele WHERE group_id=#{id})

	</select>
</mapper>
