<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capinfo.framework.web.mapper.UserMapper">

	<resultMap id="UserResult" type="com.capinfo.framework.web.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="user_password" property="userPassword" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="random_num" property="randomNum" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="user_type" property="userType" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="province" property="province" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="city" property="city" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="district" property="district" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="telephone" property="telephone" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="email" property="email" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="company_name" property="companyName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="creater" property="creater" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="updater" property="updater" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="create_time" property="createTime" javaType="java.util.Date"/>
		<result column="update_time" property="updateTime" javaType="java.util.Date"/>
		<result column="version" property="version" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<collection property="userRoles" column="id" javaType="java.util.ArrayList" select="com.capinfo.framework.web.mapper.UserRoleReleMapper.findUserRoleReleByUserId" />
	</resultMap>
	
	<!-- SAVE USER -->
	<insert id="saveUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.capinfo.framework.web.pojo.User">
		INSERT INTO ibs_user_devp(user_name,user_password,random_num,user_type,province,city,district,telephone,email,company_name,create_time,creater) VALUES(#{userName},#{userPassword},#{randomNum},#{userType},#{province},#{city},#{district},#{telephone},#{email},#{companyName},#{createTime},#{creater})
	</insert>
	<!-- DELETE USER -->
	<delete id="deleteUser" parameterType="java.lang.Integer">
		DELETE FROM ibs_user_devp WHERE id=#{id}
	</delete>
	<!-- UPDATE USER -->
	<update id="updateUser" parameterType="com.capinfo.framework.web.pojo.User">
		UPDATE ibs_user_devp SET user_name=#{userName},user_password=#{userPassword},random_num=#{randomNum},user_type=#{userType},province=#{province},city=#{city},district=#{district},telephone=#{telephone},email=#{email},company_name=#{companyName},update_time=#{updateTime},updater=#{updater},version=version+1 WHERE id=#{id} AND version=#{version}
	</update>
	<!-- BATCH SAVE USER -->
	<insert id="saveUserBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO ibs_user_devp(user_name,user_password,random_num,user_type,province,city,district,telephone,email,company_name,create_time,creater) VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.userName},#{item.userPassword},#{item.randomNum},#{item.userType},#{item.province},#{item.city},#{item.district},#{item.telephone},#{item.email},#{item.companyName},#{item.createTime},#{item.creater})
		</foreach>
	</insert>
	<!-- BATCH DELETE USER -->
	<delete id="deleteUserBatch" parameterType="java.util.List">
		DELETE FROM ibs_user_devp WHERE id IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<sql id="query_user_where">
		<if test="userName!=null and userName!=''">
			AND user_name=#{userName} 
		</if>
		<if test="userPassword!=null and userPassword!=''">
			AND user_password=#{userPassword} 
		</if>
		<if test="userNameForLike!=null and userNameForLike!=''">
			AND user_name LIKE "%"#{userNameForLike}"%" 
		</if>
	</sql>
	<select id="findUserList" parameterType="com.capinfo.framework.web.vo.UserQueryBean" resultMap="UserResult">
    	SELECT * FROM ibs_user_devp
    	<where>
    		<include refid="query_user_where"></include>
    	</where>
	</select>
	
	<sql id="query_user_page_where">
		<if test="query.userName!=null and query.userName!=''">
			AND user_name=#{query.userName} 
		</if>
		<if test="query.userPassword!=null and query.userPassword!=''">
			AND user_password=#{query.userPassword} 
		</if>
		<if test="query.userNameForLike!=null and query.userNameForLike!=''">
			AND user_name LIKE "%"#{query.userNameForLike}"%" 
		</if>
	</sql>
	<select id="findUserPage" parameterType="java.util.Map" resultMap="UserResult">
    	SELECT * FROM ibs_user_devp
    	<where>
    		<include refid="query_user_page_where"></include>
    	</where>
		ORDER BY create_time desc
		LIMIT #{pageNum},#{pageSize}
	</select>
	
	<sql id="query_user_count_where">
		<if test="userName!=null and userName!=''">
			AND user_name=#{userName} 
		</if>
		<if test="userPassword!=null and userPassword!=''">
			AND user_password=#{userPassword} 
		</if>
		<if test="userNameForLike!=null and userNameForLike!=''">
			AND user_name LIKE "%"#{userNameForLike}"%" 
		</if>
	</sql>
	<select id="findUserCount" parameterType="com.capinfo.framework.web.vo.UserQueryBean" resultType="java.lang.Integer">
    	SELECT COUNT(1) FROM ibs_user_devp
    	<where>
    		<include refid="query_user_count_where"></include>
    	</where>
	</select>
	
	<select id="findUserById" parameterType="java.lang.Integer" resultMap="UserResult">
    	SELECT * FROM ibs_user_devp
    	<where>
    		id=#{value}
    	</where>
	</select>
	
	<select id="findUserByName" parameterType="java.lang.String" resultMap="UserResult">
    	SELECT * FROM ibs_user_devp
    	<where>
    		user_name=#{value}
    	</where>
	</select>
	
</mapper>
