<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.capinfo.framework.web.mapper.UserGroupReleMapper" >
  <resultMap id="BaseResultMap" type="com.capinfo.framework.web.pojo.UserGroupRele" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="group_dev_name" property="groupName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, group_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ibs_user_group_rele
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ibs_user_group_rele
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.capinfo.framework.web.pojo.UserGroupRele" >
    insert into ibs_user_group_rele (id, user_id, group_id, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.capinfo.framework.web.pojo.UserGroupRele" >
    insert into ibs_user_group_rele
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.capinfo.framework.web.pojo.UserGroupRele" >
    update ibs_user_group_rele
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.capinfo.framework.web.pojo.UserGroupRele" >
    update ibs_user_group_rele
    set user_id = #{userId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--根据userId删除关联-->
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from ibs_user_group_rele
    where user_id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="findUserGroupReleList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT *
    FROM ibs_user_group_rele ugr,ibs_group_device gd
    WHERE ugr.group_id = gd.id
    AND ugr.user_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>